.card{
    width:95%;
    justify-content:flex-start;
    align-items:center;
    height:280px;
}
.card--logoWrapper{
    margin-bottom:40px;
}
.card>p{
    margin-top:25px;
    width:250px;
    text-align:center;
    color:gray;
}
@media (min-width:800px){
    .card{
        align-items:flex-start;
    }
    .card>p{
        text-align:start;
    }
}